* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
}

h1 {
	color: #f5f5f5;
	font-size: 72px;
	font-style: oblique;
	font-weight: 900;
	letter-spacing: -.05em;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}

textarea,
.CodeMirror {
	border: 1px solid #888;
	font: 14px Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	height: 250px;
	margin-top: 20px;
	width: 400px;
}

input[type="button"] {
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 200px;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	width: 1280px;
}

.description {
	color: #080;
	font-size: 13px;
	font-style: oblique;
	margin-bottom: 40px;
}

.function-boxes {
	display: flex;
	justify-content: space-evenly;
	margin: 40px 0;
}

.label {
	display: block;
	font-size: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}

.faster {
	color: #080;
	font-weight: bold;
}

.slower {
	color: #c00;
	font-weight: bold;
}
